@import url('https://fonts.googleapis.com/css2?family=Vazirmatn:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;   /* 1rem = 10px */
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
}

body {
    font-size: 1.4rem;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style: none;
}

/* Heading Part */
.heading {
    min-width: 144rem;
    height: 22.4rem;
}

/* Navbar Part of heading */
.navbar {
    max-width: 110.4rem;
    height: 5.7rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.2rem;
}

#current-page {
    color: #222;
}

.nav-right ul{
    display: flex;
    gap: 3.2rem;
}

.nav-right a{
    color: #8E8E8E;
}

.nav-left {
    display: flex;
    align-items: center;
    font-weight: 500;
}

.nav-left a{
    color: #00B0C0;
    margin-right: 1rem;
}

/* Navbar Line Part */
.nav-line {
    max-width: 110.4rem;
    margin: 0 auto;
    position: relative;
}

.main-nav-line {
    max-width: 110.4rem;
    height: 0.1rem;
    background: #E8E8E8;
}

.blue-nav-line {
    width: 17.2rem;
    height: 0.3rem;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    background: #00B0C0;
    position: absolute;
    top: 0;
    left: 0;
}

/* Start Of Heading Box */

.heading-box {
    max-width: 110.4rem;
    height: 10.5rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search-part {
    padding: 1.2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid #E8E8E8;
}

.heading-search-input {
    border: none;
    width: 39rem;
    height: 2.1rem;
    outline: none;
    font-family: 'Vazirmatn', sans-serif;
}

.search-part a {
    display: flex;
    align-items: center;
}

.heading-login {
    width: 20.1rem;
    height: 4.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart-box {
    display: inline-flex;
    padding: 1.2rem;
    justify-content: center;
    align-items: center;
    border: 1px solid #E8E8E8;
}

.cart-box a {
    display: flex;
    align-items: center;
}

.login-box {
    display: inline-flex;
    padding: 1.2rem;
    justify-content: center;
    align-items: center;
    border: 1px solid #E8E8E8;
    gap: 1rem;
}

.login-box a {
    display: flex;
    align-items: center;
}
/* End Of Heading Box */

/* Start Of Menu Box */

.menu-box {
    padding: 1.4rem 1.6rem 1.3rem 46.7rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: var(--F5F5F5, #F5F5F5);
    margin: 0 auto;
    max-width: 110.4rem;
    height: 4.8rem;
}

.menu-box ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}

.menu-box ul li a {
    color: #8E8E8E;
    font-weight: 500;
    display: flex;
    align-items: center;
}

/* End Of Menu Box */

/* Start of Slider Part */

.slider-part {
    max-width: 110.4rem;
    height: 23.6rem;
    margin: 0 auto;
}

.slider-img {
    position: relative;
}

.slider-right-arrow {
    position: absolute;
    top: 10.5rem;
    right: 5rem;
}

.slider-left-arrow {
    position: absolute;
    top: 10.5rem;
    left: 5rem;
}

.slider-point {
    width: 100%;
    height: 2rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: flex-end;
}

.first-point {
    height: 0.8rem;
    width: 7rem;
    background: #FF2434;
}

.second-point {
    height: 0.6rem;
    width: 7rem;
    background-color: #C4C4C4;
}

/* End Of Slider Part */